<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="header">
                <button class="login">Giriş Yap</button>
                <button class="singup" routerLink="/singup">Kayıt Ol</button>
            </div>
            <div class="col">
                <div class="form">
                    <form>
                        <div class="username">
                            <p>E-Mail</p>
                            <input type="text">
                        </div>
                        <div class="password">
                            <p>Şifre</p>
                            <input type="password">
                        </div>
                    </form>
                </div>
                <div class="sing">
                    <button>Giriş Yap</button>
                </div>
            </div>
        </div>
    </div>
</div>
